#copyButton, #helpMessage {
    -fx-text-fill: white;
    -fx-font-family: "Hack";
}

#copyButton {
    -fx-font-weight: bold;
    -fx-background-color: dimgray;
    -fx-border-radius: 75%;
    -fx-background-radius: 14px;
}

#copyButton:hover {
    -fx-background-color: #186ADD;
}

#copyButton:armed {
    -fx-background-color: darkgray;
}

#helpMessageContainer {
    -fx-background-color: derive(#1d1d1d, 20%);
}

