.background {
    -fx-background-color: derive(#f2f2f2, 20%);
    background-color: #f2f2f2; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Lato";
    -fx-text-fill: #555555;
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Lato";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Lato";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Lato";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: #f2f2f2;
    -fx-control-inner-background: #f2f2f2;
    -fx-background-color: #f2f2f2;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: derive(#f2f2f2, 20%);
    -fx-border-color: transparent;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: derive(#f2f2f2, 20%);
}

/* Person List Panel UI */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-background-color: transparent;
    -fx-background-radius: 12px;
    -fx-padding: 2 2 2 2;
}

.list-cell:filled:even {
    -fx-background-color: rgba(255, 255, 255, 1);
}

.list-cell:filled:odd {
    -fx-background-color: rgba(255, 255, 255, 0.8);
}

.list-cell:filled:selected {
    -fx-background-color: #0e66dc;
    -fx-background-radius: 12px;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #09b5f3;
    -fx-border-width: 1;
    -fx-border-radius: 12px;
}

/* Person Card UI */
.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Futura";
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-family: "Segoe UI";
    -fx-font-size: 13px;
    -fx-text-fill: #010504;
}

.stack-pane {
     -fx-background-color: #ffffff;
}

.pane-without-border {
    -fx-background-color: #ffffff;
    -fx-border-color: #ffffff;
    -fx-border-width: 2px;
    -fx-border-radius: 12px;
}

/* Result Box Display */
.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Hack";
    -fx-font-size: 12pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

/* Status Bar UI */
.status-bar {
    -fx-background-color: #ffffff;
}

.status-bar .label {
    -fx-font-family: "Avenir";
    -fx-font-weight: light;
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#f2f2f2, 30%);
    -fx-border-color: derive(#f2f2f2, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

.grid-pane {
    -fx-background-color: derive(#f2f2f2, 30%);
    -fx-border-color: derive(#f2f2f2, 30%);
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: derive(#f2f2f2, 30%);
}

.context-menu {
    -fx-background-color: derive(#f2f2f2, 50%);
}

.context-menu .label {
    -fx-text-fill: black;
}

.menu-bar {
    -fx-background-color: derive(#f2f2f2, 20%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Avenir";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #ffffff;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #333333;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #f0f0f0;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #e0e0e0;
    -fx-text-fill: #333333;
}

.button:focused {
    -fx-border-color: black, black;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #f2f2f2;
    -fx-text-fill: #999999;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}
