.background {
    -fx-background-color: white;
    background-color: white; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Product Sans Medium";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Product Sans Medium";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Product Sans";
    -fx-text-fill: black;
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Product Sans";
}

.tab-pane {
    -fx-padding: 0 0 0 1;
}

.tab-pane .tab-header-area {
    -fx-padding: 0 0 0 0;
    -fx-min-height: 0;
    -fx-max-height: 0;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
        transparent
        transparent
        derive(-fx-base, 80%)
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 20pt;
    -fx-font-family: "Product Sans Light";
    -fx-text-fill: white;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.split-pane:horizontal .split-pane-divider {
    -fx-background-color: white;
    -fx-border-color: transparent transparent transparent #4d4d4d;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: white;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: #F8F8F8;
}

.list-cell:filled:odd {
    -fx-background-color: white;
}

.list-cell:filled:selected {
    -fx-background-color: #F9FDFF;
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #89C1DD;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.cell_big_label {
    -fx-font-family: "Product Sans Medium";
    -fx-font-size: 16px;
    -fx-text-fill: black;
}

.cell_small_label {
    -fx-font-family: "Product Sans";
    -fx-font-size: 13px;
    -fx-text-fill: black;
}

.stack-pane {
     -fx-background-color: #F8F8F8;
     -fx-background-radius: 10;
}

.pane-with-border {
     -fx-background-color: white;
     -fx-border-color: white;
     -fx-border-top-width: 1px;
}

.status-bar {
    -fx-background-color: #ECF7FF;
}

.result-display {
    -fx-background-color: #ECF7FF;
    -fx-font-family: "Product Sans Light";
    -fx-font-size: 11pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
}

.status-bar .label {
    -fx-font-family: "Product Sans Light";
    -fx-text-fill: black;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: white;
}

.grid-pane {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
}

.grid-pane .stack-pane {
    -fx-background-color: #F8F8F8;
}

.context-menu {
    -fx-background-color: white;
}

.context-menu .label {
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: white;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Product Sans Light";
    -fx-text-fill: black;
    -fx-opacity: 0.9;
}

.menu:hover,
.menu:pressed,
.menu:selected {
    -fx-background-color: #C7C7C7;
}

.menu-item:hover,
.menu-item:pressed,
.menu-item:selected {
    -fx-background-color: #C7C7C7;
}

.menu .left-container {
    -fx-background-color: black;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: white;
    -fx-font-family: "Product Sans", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: white;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #F8F8F8;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: white;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: white;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: white;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: white;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: white;
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar {
    -fx-background-color: #C7C7C7;
}

.scroll-bar .thumb {
    -fx-background-color: #595959;
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

#cardPane {
    -fx-background-color: transparent;
    -fx-border-width: 0;
}

#commandTypeLabel {
    -fx-font-size: 11px;
    -fx-text-fill: #F70D1A;
}

#commandTextField {
    -fx-background-color: transparent white transparent white;
    -fx-background-insets: 0;
    -fx-font-family: "Product Sans";
    -fx-font-size: 13pt;
    -fx-text-fill: #595959;
    -fx-padding: 15 15 15 15; /* top, right, bottom, left */
}

#filterField, #personListPanel, #personWebpage {
    -fx-effect: innershadow(gaussian, white, 10, 0, 0, 0);
}

#resultDisplay .content {
    -fx-background-color: #ECF7FF;
    -fx-background-radius: 10;
}

#tags {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

.friends { /*green*/
    -fx-text-fill: #52723E;
    -fx-background-color: #E7F4DF;
    -fx-padding: 3 10 3 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.colleagues { /*purple*/
    -fx-text-fill: #553B7E;
    -fx-background-color: #EFE9FA;
    -fx-padding: 3 10 3 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.neighbours { /*yellow*/
    -fx-text-fill: #7A6D44;
    -fx-background-color: #FFF4E4;
    -fx-padding: 3 10 3 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.family { /*red*/
    -fx-text-fill: #5A2121;
    -fx-background-color: #FFEAEA;
    -fx-padding: 3 10 3 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

.classmates { /*blue*/
    -fx-text-fill: #1A5F68;
    -fx-background-color: #D8EEF1;
    -fx-padding: 3 10 3 10;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 11;
}

#attendances {
    -fx-hgap: 7;
    -fx-vgap: 3;
}

#attendances .label {
    -fx-text-fill: white;
    -fx-background-color: #3e7ee1;
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}

.justify-space-between > Label {
    -fx-alignment: baseline-left; /* Align label to the left */
}

.justify-space-between > FlowPane {
    -fx-alignment: baseline-right; /* Align flow pane to the right */
    -fx-hgrow: ALWAYS;
}
