.background {
    -fx-background-color: #E8E3DC;
    background-color: #E8E3DC; /* Used in the default.html file */
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #4D3319; /* dark brown */
    -fx-opacity: 0.9;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #4D3319; /* dark brown */
    -fx-opacity: 1;
}

.text-field {
    -fx-background-color: #F5F5DC; /* cream background for entering commands */
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #E8E3DC; /* light brown */
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #E8E3DC; /* light brown button */
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #4D3319; /* text */
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #8A9A5B; /* not quite sure where */
}

.table-view {
    -fx-base: #E8E3DC; /* light brown */
    -fx-control-inner-background: #E8E3DC; /* light brown */
    -fx-background-color: #E8E3DC; /* light brown */
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
    -fx-background-color: #E8E3DC; /* light brown */
}

.status-bar {
    -fx-background-color: #E8E3DC; /* light brown */
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
    -fx-background-color: #E8E3DC; /* light brown */
}

.pane-with-border {
    -fx-border-color: #5D534A; /* earthy brown */
    -fx-background-color: #E8E3DC; /* light brown */
    -fx-border-top-width: 1px;
}

.menu-bar {
    -fx-background-color: #E8E3DC; /* light brown */
}

.result-display {
    -fx-background-color: #E8E3DC; /* light brown */
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #4D3319; /* dark brown */
}

#resultDisplay .content {
    -fx-background-color: transparent, #EDEDED, transparent, #EDEDED; /* grey white */
    -fx-background-radius: 0;
}

.section-title {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 5px;
}

#tags .label {
    -fx-text-fill: white;
    -fx-background-color: #8A9A5B; /* green background for tags */
    -fx-padding: 1 3 1 3;
    -fx-border-radius: 2;
    -fx-background-radius: 2;
    -fx-font-size: 11;
}
