/* The error class should always override the default text-fill style */
.error {
    -fx-text-fill: #d06651 !important;
    -fx-fill: #d06651 !important;
}

 /* The success class should always override the default text-fill style */
.success {
    -fx-text-fill: #8AB68D !important;
    -fx-fill: #8AB68D !important;
}

.list-cell:empty {
    /* Empty cells will not have alternating colours */
    -fx-background: #383838;
}

.tag-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.weekNumber-selector {
    -fx-border-width: 1;
    -fx-border-color: white;
    -fx-border-radius: 3;
    -fx-background-radius: 3;
}

.tooltip-text {
    -fx-text-fill: white;
}
