#copyButton, #helpMessage {
    -fx-text-fill: black;
}

#copyButton {
    -fx-background-color: #e0e0e0;
}

#copyButton:hover {
    -fx-background-color: grey;
}

#copyButton:armed {
    -fx-background-color: grey;
}

#helpMessageContainer {
    -fx-background-color: white;
}
