#copyButton, #helpMessage {
    -fx-text-fill: black;
    -fx-font-size: 16px;
}

#openInBrowserButton {
    -fx-background-color: #dedede;
}

#copyButton {
    -fx-background-color: #dedede;
}

#openInBrowserButton:hover {
    -fx-background-color: grey;
}

#openInBrowserButton:armed {
    -fx-background-color: black;
}

#copyButton:hover {
    -fx-background-color: grey;
}

#copyButton:armed {
    -fx-background-color: black;
}

#helpMessageContainer {
    -fx-background-color: white;
}
