.background {
    -fx-background-color: #d9b99b; /* A beige background */
    background-color: #d9b99b;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000; /* Black text */
    -fx-opacity: 0.9;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #000000; /* Black text for bright labels */
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000000; /* Black text for headers */
    -fx-opacity: 1;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #edebe9; /* A lighter shade for text field backgrounds */
    -fx-text-fill: #000000; /* Black text */
}

.list-cell .label {
    -fx-text-fill: #000000; /* Black text */
}

.list-cell {
    -fx-background-color: #f5f5dc; /* Light beige for normal state */
    -fx-text-fill: #000000; /* Black text for contrast */
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap: 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:selected, .list-cell:filled:selected #cardPane {
    -fx-background-color: #d9b99b; /* Even lighter beige for the selected item */
    -fx-text-fill: #000000; /* Black text for contrast when selected */
}

.list-cell:filled:even {
    -fx-background-color: #eeeeee; /* A lighter grey for even rows */
    -fx-text-fill: #000000; /* Black text for contrast */
}

.list-cell:filled:odd {
    -fx-background-color: #e2e2e2; /* Slightly darker beige for odd rows */
    -fx-text-fill: #000000; /* Black text for contrast */
}

.result-display, .text-area {
    -fx-background-color: #f5f5dc; /* Light beige background */
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: #000000; /* Black text for good contrast */
}
