.header-label {
    -fx-text-fill: white; /* Sets the text color to white */
    -fx-font-size: 20px; /* Sets the font size */
    -fx-font-family: "Times New Roman";
    -fx-font-weight: bold;
    -fx-alignment: center; /* Centralizes the text */
}
